<style>
    .row{
        background: url("/images/bg.png") no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
     
    }
    .row::before{
        content: '';
        width: 100%;
        height: 100vh;
        background-color: black;
        mix-blend-mode: darken;
        position: absolute;
        top: 0;
        left: 0;
        
        opacity: 0.5;
    }
    
    .formDiv{
        background-color: rgba(255, 255, 255, 0.904);
        z-index: 999;
        padding: 30px;
    }
</style>


<div class="row">
<div class="container p-5 d-flex justify-content-center " style="align-items: center; min-height:100vh">
    <div class="formDiv">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter Your Input</label>
    <input type="number" max="127" onkeyup="checkingData()"   min="0" class="form-control" id="numberInput" style="width: 300px;" >
   </div>
   <button type="submit" id="submitButton" onclick="sendInput()" class="btn btn-dark">Submit</button>
</div>
</div>
</div>

<script>

function checkingData(){
    var maxValue = 127
    var input = document.getElementById("numberInput")
    if(input.value > 127){
        input.value =127
        alert("Maximum value is 127")
    }
}




</script>