<style>
    .circle{
        background-color: red;
        border-radius: 50px;
        height: 100px;
        width: 100px;
        margin-right: 10px;
    }
</style>


<div class="row  p-5 justify-content-center align-items-center" id="mainDiv" style="min-height: 100vh; margin:0"  >


 
 
 
 


</div>
 